html{
    scroll-behavior: smooth !important;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    
    }

    to {
        opacity: 1;
        scale: 1;
        
    }
}

.about-me{
    /* background-color: aqua; */
    width: 100vw;
    height: 100vh;
margin-top: 10rem;

 
}

.about-me-image{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    float:right;
    width: 50vw;
    height: 100vh;
  
    background-color: rgba(255, 255, 255, 0.65);
   
}

.about-me-image img{
    width: 30vw;
    height: auto;
    border-radius: 50px;
}

.about-me-content{
    /* background-color: var(--primary); */
    float: left;
    width: 50vw;
    height: 100vh;
    padding: 0 2.5rem 0 2.5rem;
    text-align: justify;
    font-size: 18px;
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(255, 255, 255, 0.65);
      
}

.about-me-content p{
    font-size: var(--web-body-font);
}



.about-me-content button {
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    padding: 20px;
    width: 10rem;
    border: none;
}

/* .about-me  h1,h2,p,img,button {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
} */

.about-me h1{
    
            font-weight: bold;
        
}

@media (max-width:1000px){
    .about-me{
        display: block;
        line-height: normal;
        list-style: 2px;
        margin-top: 0;
        /* height: 100vh; */
        

    }
    .about-me-content{
        width: 100vw;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        font-size:medium;
        padding-top: 2vh;
        padding-bottom: 5vh;
        /* background-color: black; */
        height: max-content;
    }
    .about-me-image{
        padding-top: 2rem;
        width: 100vw;
        height: auto;
    }
}

@media (max-width:450px){

    .about-me-image img{
        width: 50vw; ;
    }

        .about-me-content {
            
            width: 100vw;
            justify-content:flex-start;
            align-items: center;
            text-align: center;
            font-size: small;
            padding-top: 2vh;
            height: max-content;
        }

                .about-me{
                    height: max-content;
                }

                .about-me p{
                    line-height: 1.2;
                }
                           

}

