:root{
    color-scheme: light;
    --web-body-font:18px;
    --mobile-body-font:14px;
    --mobile-heading-font:16px;
    --primary: #990465;
    --font-color:black;
}

@media (prefers-color-scheme: dark) {
    :root {
    --font-color: black;
    }
}
