*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url("../assets/img/video.mp4"); */
    min-height: 100vh;
    background-size: cover;
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.logo img{
    height: 2.5rem;
}
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* Ensures video stays in the background */
}

body::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0);
    z-index: -1;
}

header{
    background-color: rgba(255, 255, 255, 0.169);
    opacity:2;

position: fixed;
width: 100%;
top: 0;
z-index: 1000;
        backdrop-filter: blur(10px);
    padding: 1rem 0;
    height: 5rem;
    
   
}

.container{
    max-width: 1440px;
    width: 100%;
    margin:0 auto;
    padding: 0 1rem;

}

.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container nav .logo{
    color:black
;
cursor:pointer}

.container .nav-link{
    display:flex;
}

.container .nav-link li{
    list-style: none;
    
  
    padding:0 2rem
}

.container ul li a{
text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding:0rem 1rem;
    display:block;
    border-radius:10px;
}

.container ul li a:hover {
    background-color: rgba(177, 170, 170, 0.115);
        /* backdrop-filter: blur(2px); */
        cursor: pointer;
        border-radius: 5px;
} 

.icon{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media (max-width:1000px){
   
 
    .icon{
        display: block;
    }

    .container .nav-link{
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(255, 255, 255, 0.971);
            backdrop-filter: blur(10px);
        position: absolute;
        width: 350px;
        height: 60vh;
        top: -800px;
        right: 0;
        z-index:10;
        border-radius:0 0 0 50px;
        

    }

    .nav-link.active{
        top: 100%;
    }
}

/* mobile */
@media (max-width:450px) {
    .container .nav-link {
        width: 100%;
        height: 40vh;
        justify-content: space-around;
        padding: 10px 0;
        border-radius: 0;
        animation: enlarge 0.5s ease forwards;
    }


    .container .nav-link li {
        text-align: center;
    }

        
          

}